.red-bg{background-color: salmon;}

.green-bg{background-color: rgb(106,179,130);}
.blue-bg{background-color: rgb(47, 69, 90);}

.yellow-bg {background-color: rgb(196, 206, 187);}

.purple-bg {background-color: rgb(165, 128, 202);}
