body {
    margin: 0px;
    font-family: Roboto;
}
header {
    width: 100%;
    padding: 0px; 
    background-color:  rgb(111, 73, 248);
}
.logo {
    max-width: 80px;
    margin: 10px; 
    padding:0px; 
}
.toggle-button {
    width: 40px;
    float: right;
    margin: 10px;
    padding: 0px;
}
ol.widget-link{
    list-style:none; 
    margin-right: 15px;

    
}
ol.widget-link li{ display: inline-block;}


#toggleAssist, ul.nav-links {
    display: none;
}
#toggleAssist:checked + ul.nav-links {
    display: block; 
    text-align: right;
}
ul.nav-links {
    list-style: none;
    margin-right: 15px;
}
ul.nav-links li {
    margin: 10px;

}
.nav-links a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(191, 246, 250);}

    li.donate {background-color:green;}


main {
    width: 100%;
    
    margin: auto;
}
img {
    max-width: 100%;
}

@media (min-width:320px){
main {
    width: 300px;
}
ol.widget-link {list-style:none;
float:left;
 
     display:block;
 
}
#toggleAssist:checked + ul.nav-links {
    display: block; 
    text-align: center;
    padding:0px;
}   

ul.nav-links {
    list-style: none;
    
   }
ul.nav-links li {
    margin-bottom: 5px;
    border: 1px solid black;}
} /** END OF SMALL SCREEN MEDIA QUERY **/

@media (min-width: 768px) {
.toggle-button {
    display: none;
}
ul.nav-links {
    display: block;
    float: right;
}

ol.widget-link{
    list-style:none; display:block;
    float:right;
}
ul.nav-links li {
    display: inline-block;
    border-bottom: none;
    padding: 60px; border:none;
}
main {
    width: 650px;
}
} /** END OF MID-SCREEN MEDIA QUERY **/

@media (min-width: 960px) {
.toggle-button {
    display: none;
}
ul.nav-links {
    display: block;
    float: right;
}
ul.nav-links li {
    display: inline-block; 
    border-bottom: none;
    padding: 60px; border:none;
}
ol.widget-link{
    list-style:none; display:block;
    float:right;}

main {
    width: 960px;
    margin: auto;
}
} /** END OF LARGE SCREEN MEDIA QUERY **/
