body {
    margin: 0px;
    font-family: Roboto;
}
header {
    width: 100%;
    padding: 0px; 
    background-color:  rgb(73, 201, 248);
}
.logo {
    max-width: 80px;
    margin: 20px; 
    padding:0px; 
}
.toggle-button {
    width: 40px;
    float: right;
    margin: 15px;
    padding: 0px;
}
ol.widget-link{
    list-style:none; 
    margin-right:20px;

    
}



#toggleAssist, ul.nav-links {
    display: none;
}
#toggleAssist:checked + ul.nav-links {
    display: block; 
    text-align: right;
}
ul.nav-links {
    list-style: none;
    margin-right: 15px;
}
ul.nav-links li {
    margin: 10px;

}
.nav-links a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(191, 246, 250);}

    li.donate {background-color:green;}


main {
    max-width: 100%;
    
    
}
img {
    max-width: 100%;
}

@media (min-width:320px){
 .ui-autocomplete-input{width:80px;}  
ol.widget-link {list-style:none;
float:left; padding:5px 10px 0px 10px;

     display:block;
 
}
#toggleAssist:checked + ul.nav-links {
    display: block; 
    text-align: center;
    
    
}   

ul.nav-links {
    list-style: none;
    margin:10px; padding:10px;
   }
ul.nav-links li {
    
    border: 1px solid black;margin:auto;

} 
}/** END OF SMALL SCREEN MEDIA QUERY **/

@media (min-width: 768px) {
.toggle-button {
    display: none;
}
ul.nav-links {
    display: block;
    float: right;
}

ol.widget-link{
    list-style:none; display:block;
    float:right;
}
ul.nav-links li {
    display: inline-block;
    border-bottom: none;
    padding: 10px; border:none;
}

} /** END OF MID-SCREEN MEDIA QUERY **/

@media (min-width: 960px) {
.toggle-button {
    display: none;
}
ul.nav-links {
    display: block;
    float: right;
}
ul.nav-links li {
    display: inline-block; 
    border-bottom: none;
    padding: 10px; border:none;
}
ol.widget-link{
    list-style:none; display:block;
    float:right;padding:20px;}


} /** END OF LARGE SCREEN MEDIA QUERY **/
