@import url('colors.css');

body {margin:0px;}
header, main {width:100%}
header {hegith:10vh;}
main {height: 90vh;text-aling:center;}
header h3 {text-align: center;
    margin: 0px;
    padding:32px;
    height: 64px;
height: 64px;}
   main.block-inline-centering{ text-align:center;}
    main.flex-center{display:flex; flex-direction:column; justify-content: center;}
.centering-parent{position:relative;width:400px;height:400px;}
.centering-child{position:absolute;width:200px;height:150px;top:50%;margin-top:-100px;}
    footer{min-height:200px;}
    footer.text-container {width: 380px;height:200px; background-color:dodgerblue;display:table-cell;vertical-align:middle;}
@media (min-width: 600px){
main { width: 580px;margin:auto;}
}
@media (min-width: 900px)
{main { width: 880px;}}