.red-bg{background-color: rgb(240, 192, 186);}

.green-bg{background-color: rgb(210, 238, 219);}
.blue-bg{background-color: rgb(182, 212, 240);}

.yellow-bg {background-color: rgb(218, 243, 197);}

.purple-bg {background-color: rgb(221, 198, 245);}
.pink-bg {background-color: pink;}