@import url("colors.css");
@import url("navbar.css");

/* first responsive site */
body 
{margin:0px; font-family: 'Courier New', Courier, monospace, ;background-color:rgb(175, 160, 206);}
header {width:100%; background-color: rgb(149, 110, 226);}
.logo {max-width: 80px; margin: 10px;}
div {padding:10px;}
img{max-width:100%;max-height:100%;}
.flex1 {display:flex; flex-direction: column;}



@media (min-width:320px) {
}

@media (min-width:768px) {

.flex1 {display:flex;flex-direction:row; flex-wrap: wrap;}
	.box {flex: initial; align-content: center;}
	.flex1 img{align-self:center;flex-wrap: wrap;height:250px;width:250px;flex:auto;}
	.box4 {flex-grow:2;}

} /**END OF MID-SCREEN MEDIA QUERY**/
 
@media (min-width:960px) {


} /**END OF LARGE SCREEN MEDIA QUERY**/