@import url("colors.css");
@import url("navbar.css");
@import url("layout.css");
/* first responsive site */
body 
{margin:0px; font-family: 'Courier New', Courier, monospace, ;background-color:rgb(175, 160, 206);}
header {width:100%; background-color: rgb(149, 110, 226);}
.logo {max-width: 80px; margin: 10px;}
main {width:100%;margin:0;}
div{padding:10px;}
section {padding:15px;}
img {max-width:100%;}
footer {background-color:rgb(149, 110, 226);}

@media (min-width:320px) {
    main {width:300px;}
    nav{overflow:hidden;}
}
@media (min-width:768px) {
    
    main {width: 620px;margin:auto;} 
} /**END OF MID-SCREEN MEDIA QUERY**/

@media (min-width:960px) {
    header {overflow: hidden;}
    
    .logo {float:center;}
   
    main {width: 960px;margin:auto;}
   
} /**END OF LARGE SCREEN MEDIA QUERY**/