body {
    margin: 0px;
    background-image: url('kidsplay.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 800px;
    background-color: gray;
}

.appreciate {
    display: none;
}

.appreciate1 {
    display: none;
}

h1 {
    width: 80%;
    color: black;
    margin: auto;
    padding: 20px;
}

h3 {
    padding: 5px;
}


.cross {
    display: block;
    margin: auto;
    padding-bottom: 20px;
}

.banner {
    background-color: yellow;
    font-size: 1.25em;
    height: 90px;
}

.banner h3 {
    margin: 0px 10px 10px;
}

img {
    max-width: 100%;
}

.fact {

    margin: 20px;
    padding: 20px;

}

.about {
    display: block;
    color:white;
    margin: 20px;
}

.factory {
    display: block;
    margin: auto;
}

.expert {
    display: block;
}

.square {
    width: 50px;
    height: 50px;
    background-color: yellow;
    display: inline-block;
    text-align:center;
}

.square1{ 
    width: 50px;
    height: 50px;
    background-color: green;
    display: inline-block;
    text-align:center;
}

.slider{
    text-align:center;

}

figure {
    display: inline-block;
  color:white;
    width:30%;  
   
}

@media (min-width:320px) {
    body {
        background-image: none;
        background-color: black;
    }

    p {
        margin: 0 auto;
        padding: 10px;
        text-decoration-color: white;
    }

    h1 { color:white;
        text-align: center;
    }

    h2 {

        text-align: center;
        color: whitesmoke;
    }

    .floyd {
        display: block;
        width: 100%;
        height: auto;
    }


    .race {

        display: block;
        width: 90%;
        color: black;
        height: 200px;

        position: absolute;

        top: 30%;
        left: 50%;

        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .races {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        opacity: 70%;
        width: 100%;
        height: 0;
        transition: .5s ease;
    }

    .box1-sm {
        position: relative;
    }


    .floods {

        display: block;
        width: 90%;
        color: black;
        height: 200px;

        position: absolute;

        top: 30%;
        left: 50%;

        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .box2-sm {
        position: relative;
    }

    .flood {
        display: block;
        width: 100%;
        height: auto;
    }

    .flooding {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        opacity: 70%;
        width: 100%;
        height: 0;
        transition: .5s ease;
    }

    .bear {

        display: block;
        width: 90%;
        color: black;
        height: 200px;

        position: absolute;

        top: 30%;
        left: 50%;

        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .box3-sm {
        position: relative;
    }

    .bears {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        opacity: 70%;
        width: 100%;
        height: 0;
        transition: .5s ease;
    }

    .polar {
        display: block;
        width: 100%;
        height: auto;
    }

    .box4-sm {
        position: relative;
    }

    .redhouse {
        display: block;
        width: 100%;
        height: auto;
    }

    .house {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        opacity: 70%;
        width: 100%;
        height: 0;
        transition: .5s ease;
    }

    .midst {

        display: block;
        width: 90%;
        color: black;
        height: 200px;

        position: absolute;

        top: 30%;
        left: 50%;

        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .box5-sm {
        position: relative;
    }

    .towns {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        opacity: 70%;
        width: 100%;
        height: 0;
        transition: .5s ease;
    }

    .town {

        display: block;
        width: 90%;
        color: black;
        height: 200px;

        position: absolute;

        top: 30%;
        left: 50%;

        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .townview {
        display: block;
        width: 100%;
        height: auto;
    }


    .expert {
        display: block;
        width: 60%;
        margin: auto;
        padding: 10px;
    }

    .flex {
        display: flex;
        flex-direction: column;
    }

    .stand {
        display: block;
        width: 70%;
        margin: auto;
        color: white;
        
    }

    .fact {
        color: white;
    }

    .button {
        text-align: center;
        padding:10px;
    }
   .information label {
       margin-left:30px;
    }
   .amount {
       padding:20px;
    }
    .fields{
         padding: 5px;
         
    }
    .fieldset {
        margin:20px;
   }

    label {
        color:white;
    }
    .appreciate1 img {
        display:block;
        margin:auto;
        padding:10px;
    
    }
    .appreciate img {
        display:block;
        margin:auto;
        padding:10px;
}

}
/**END OF SMALL MEDIA SCREEN **/

@media (min-width:768px) {
    body {
        background-image: url('kidsplay.png');
    }
    
    .banner h3 {
        margin: auto;
    }


   h1 {
    text-align:left; 
    padding:30px;
}

    .struggles {
        color: black;
    }

    .fact {
        margin: auto;
        width:40%;
        color: black;
    }

    .fact1{
        color:white;
     }

     .factory {
        width: 50%;
     }

     .donatenow1 {
        margin-left:200px;
        width:40%;
        padding: 20px;
    }
    
    .appreciate1 {
        margin:100px;
    }
    
    .donatenow2 {
        margin:auto;
        width:40%;
        padding:20px;
        
    }

    .appreciate {
        margin:100px;
    }

    .expert{
        width:40%;
    }

    .bout{
        width: 40%;
        margin: auto;
        color:black;
    }

    .about {
        width: 40%;
        margin: auto;
    }

    .box {
    width:60%;
    margin:auto;
}    
}





/**END OF MID-SCREEN MEDIA QUERY**/

@media (min-width:960px) {
    body {
        background-image: url('kidsplay.png');
    }

    label {
        color:black;
    }

    h2 {
       color:black; 
    }

   h1 {
        text-align:left; 
        padding:30px;
    }

    .donatenow1 {
        margin-left:850px;
        width:30%;
        padding: 20px;
    }
    
    .appreciate1 {
        margin-left:850px;
    }
    
    .donatenow {
      margin-left:50px;
     padding:40px;
     text-align:center;
    }

    .information{
    background-color:white;
}

    .amount{
    background-color:white;
    width:265px;
    }


    .appreciate {
        margin-left:50px;
        background-color:white;

    }

    .banner {
        width: 100%;
    }

    .banner h3 {
        text-align: center;
    }

    .struggles {
        color: black;
    }

    .factory {
        padding: 20px;
    }

    .about {
        margin: 60px;
        padding: 100px;
    }

    .fact {
        margin: auto;
        width:40%;
        color: black;
    }

   .fact1{
       color:white;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        
    }

    .box {
        border-radius: 5px;
        margin: 10px;
        font-size: 150%;
        
    }


    .box1 {
        grid-column: col 1/ span 4;
        grid-row: row -1/ span 1;
        background-color:white;
        overflow:scroll;

    }

    .box1 img {
        border-radius: 5px;
    }

    .box2 {
        grid-column: col 4/ span 4;
        grid-row: row -1/ span 1;
        background-color:white;
        overflow:scroll;

        
    }

    .box2 img {
        border-radius: 5px;
      
    }

    .box3 {
        grid-column: col -3/ span 2;
        grid-row: row 2/ span 2;
        background-color:white;
        overflow:scroll;
        
    }

    .box3 img {
        border-radius: 5px;
    }

    .box4 {
        grid-column: col 1/ span 5;
        grid-row: row 2/span 2;
        background-color:white;
        overflow:scroll;
    }

    .box4 img {
        border-radius: 5px;
    }

    .box5 {
        grid-column: col 5/ span 5;
        grid-row: row 2/span 2;
        background-color:white;
        overflow:scroll;
    }

    .box5 img {
        border-radius: 5px;
    }

    .expert{
        width: 40%;
    }

    .about{
        width:30%;
        margin:auto;

    }
    .bout{
        color:black;
    }
 
    .slider{
        text-align:center;
    
    }
    
    figure {
        display: inline-block;
      color:white;
        width:20%;  
       
    }
    
}


/**END OF LARGE SCREEN MEDIA QUERY**/